

.logout > button {

}




.logout > button {
    display: inline;
    transition: all .5s ease;
    color: #00b7eb;
    border: 2px solid #00b7eb;
    font-family:'Montserrat', sans-serif;
    line-height: 0.4;
    font-size: 1vmax;
    background-color : transparent;
    padding: 0.8vmax;
    outline: none;
    border-radius: 0.7vmax;
    font-weight: bold;
    width: 5vmax;
    margin: 0.9vmax;
    margin-left: 80%;
   
}
.logout > button:hover {
    color: #ffffff;
    background-color: #00b7eb;
}

