/* .logout {
    border: 1px black;

    float: left;

}

p {
    float: left;
} */


.logout > button {
    /* font-size: 30px; */
    color: white;
    font-size: 0.9vmax;
    width: auto;
    font-weight: bold;
    position: static;
    text-align: left;
    
    /* text-align: center; */
    /* margin-right: 20px; */
    /* justify-content: space-around; */
}

