.map > header h2 {
    font-family: Playfair Display;
    color: #e51a4c;
    font-size: 2.1vmax;
}

.my-map {
  display: flex;
  justify-content: center;
}

.search-menu {
    display: flex;
    margin-bottom: 0.01vmax;
    margin-left: 19vmax;
    border: none;
    background-color: white;
    color: #8878c3;   
}

section > img {
    width: 65px;
    height: 45px; 
    margin-left: 20px;
}

section > p {
    font-size: 12px;
    font-weight: bold;
    margin: 1px;
    padding: 1px;
    margin-left: 0%;
    margin-bottom: 10px;
}

section {
    width: 90px;
    height: 40px;
    display: inline;
}

section > button {
    font-size: 14px;
    margin-left: 20px;
    padding: 10px;
    float: right;
}

.map-nav {
    margin-left: 50%;
}


h2 > img {
    width: 2vmax;
    margin-left: 10px;
}

.map > .map-nav img {
    width: 5vmax;
}

.map-nav img:hover {
    filter: drop-shadow(8px 8px 10px #8ab9f1); 
}

