/* .place {
    background-color: aquamarine;
    color: black;
} */

/* h3 {
    font-size: 16px;
} */

/* button {
    float: right;
} */

h5 {
    font-size: 25px;
    font-weight: normal;
    position: relative;
    /* border-style: ridge; */
    /* line-height: 20%;    */
    /* width: 50px; */
    /* height: 20px;
    line-height: 20px; */
}
h5 > button {
    margin-left: 40px;
}

.List-info {
    /* background-color: #FBFBFB; */
    background-color: white;
    border-radius: 30px;
    letter-spacing: 2px;
    /* line-height: 5px; */

}

