
h5 {
    font-size: 0.8vmax;
    font-weight: normal;
}
h5 > button {
    font-size: 0.8vmax;
}

.List-info  > h5{
    background-color: white;
    border-radius: 10px;
    letter-spacing: 2px;
    margin: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
}

