@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@1,200&display=swap');


.container {
    height: 100%;
    width: 100%;
    display: flexbox;
}

.container > .user-icon img {
    height: 5.5vmax;
    width: 5.5vmax;
    background-image: none;
    margin-top: 1vmax;
    margin-left: 48vmax;
}


.user-nav {
    top: 80%;
}

 h2 {
    font-size: 2.1vmax;
    color: #FF6961;
    font-family: Cinzel;
    align-items: center;
    display: flex;
    margin-left: 45vmax;
}

.user-icon {
    display: flex;
}

.user-main  {
    display: flex; 
    justify-content: center;
}

.user-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vmax;
}

.container > .user-nav:hover {
    filter: drop-shadow(8px 8px 10px #d3d3d3);
}

button {
    padding: 0;
    border: none;
    background: none;
    font-size: 1.5vw;
    margin-left: 3vmax;
}


button > h4:hover {
    color: #00bfff;
    border-radius: 30px;
}
    

.user-main > button {
    border-bottom: 1px solid #dcdcdc;
}

.user-main {
    margin: 2vmax;
    padding: 1vmax;

}

button > h4 {
    color: #c0c0c0;
    font-size: 1.2vmax;
    font-family: 'Taviraj', serif;
}



.user-icon > img {
    width: 4.5vmax;
    height: 4.5vmax;
    margin-left: 49vmax;
}


.h-form {
    display: flex;
    margin-top: 1vmax;
    margin-left: 42vmax;
    margin-bottom: 3vmax;
    padding: 2vmax;
}


.container > .user-nav img {
    width: 4.3vmax;
    height: 4.3vmax;
}


.words{
    font-weight: normal;
    align-items: center;
    background-color: #f4f0ec;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    margin: 10%;
    width: auto;
}

.progress > button {
    border-bottom: 1px solid #dcdcdc;
}
