/* .user {
    position: absolute;
    top: 50%;
    left: 50%;
} */


/* .nav {
    
    color: black;
   
    
} */

img {
    height: 80px;
    width: 80px;
    background-image: none;
}


.nav {
    font-size: 25px;
    display: "inline-block";
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
}

