@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header { 
  
  min-height: 100vh; 
  height: 100px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
  
  font-size:30px;
  
  border-bottom: 1px solid #ccc;
} */





/* I added CSS from here */
/* h1 {
  font-size: 45px;
  position: absolute;
  left: 105px;
  color: rgb(7, 6, 6);
  font-family: Cursive;
} */

.App {
  min-height: 100%;
  display: flexbox;
  /* flex-flow: column wrap; */
  /* justify-content: flex-start; */
}


h1 {
  font-size: 70px;
  /* border-bottom: 2px solid #ccc; */
  /* padding-bottom: 4px; */
  border-bottom: 1px solid 	#FFD700;
  margin-left: 15%;
  margin-right: 65%;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-weight: normal;
  font-style: normal;
}


/* .App-header { */
  /* content: "";
  display: block;
  border-bottom: 2px solid orange;
  width: 45%;
  position: relative;
  bottom: -7px;  */
/* 
  display:block;
    border:none;
    color:rgb(3, 3, 3);
    height:1.5px;
    
    background:black;
    background: -webkit-gradient(radial, 1% 1%, 0, 50% 50%, 350, from(#000), to(#fff));
} */

/* main {
  display: flexbox;
  flex-flow: column wrap;
} */


footer {
  margin-top: 20%;
  /* text-align: center; */
  display: inline-block;
}

/* UserForm {
  margin-top: 100px;
} */

p {
  margin-left: 80px;
  /* margin-bottom: 30px; */
  /* margin-top: 230px; */
  font-size: 60px;
  text-indent: 50px;
  float: left;
  /* text-align: justify; */
  /* letter-spacing: 3px; */
  margin-bottom: 100px;
}

 .authentication {
  /* margin-top: 5%; */
  margin-left: 70%;
  float: right;
}