@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&display=swap');

.App {
  display: flexbox;
  flex-direction: column;
  background-color: #ffffff;
  
}

h1 {
  font-size: 60px;
  border-bottom: 1px solid 	#FFD700;
  margin-left: 5%;
  margin-right: 75%;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-weight: normal;
  font-style: normal;
}


.App > main {
  display: flex;
  margin-top: 120px;
  margin-left: 300px;
  margin-right: 20px;
}


footer {
  margin-top: 16%;
  display: inline-block;
  margin-left: 45%;
  border-top: 1px solid #dcdcdc;
  padding-top: 0.5%;
  font-style: oblique;
  

}

.quote > p {
  margin-right: 200px;
  margin-left: 50px;
  margin-top: 150px;
  font-family: 'Advent Pro', sans-serif;
  font-size: 60px;
  text-indent: 50px;
  margin-bottom: 100px;
  font-weight: normal;
}

.authentication {
  margin-left: 10px;
  margin-right: 10px;
}